# Core functionality - changes here should be rare!
/src/app.py                   @jaysonv
/src/backend/database.py      @jaysonv
/src/backend/routers/auth.py  @jaysonv

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jaysonv
